USE [master]
GO
/****** Object:  Database [InstantGram_V001]    Script Date: 04-02-2020 3.29.52 PM ******/
CREATE DATABASE [InstantGram_V001]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InstantGram_V001', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\InstantGram_V001.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InstantGram_V001_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\InstantGram_V001_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InstantGram_V001].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InstantGram_V001]
GO
USE [InstantGram_V001]
GO
/****** Object:  Table [dbo].[CommentLike]    Script Date: 04-02-2020 3.29.52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentLike](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CommentId] [int] NOT NULL,
	[LikeByUserId] [int] NOT NULL,
	[LikeOn] [datetime] NOT NULL,
 CONSTRAINT [PK_CommentLike] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 04-02-2020 3.29.52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UploadByUserId] [int] NOT NULL,
	[ContentLink] [varchar](500) NOT NULL,
	[UploadOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostComment]    Script Date: 04-02-2020 3.29.52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostComment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[CommentedByUserId] [int] NOT NULL,
	[CommentedOn] [datetime] NOT NULL,
	[CommentContent] [varchar](max) NOT NULL,
 CONSTRAINT [PK_PostComment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostLike]    Script Date: 04-02-2020 3.29.52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostLike](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[LikeByUserId] [int] NOT NULL,
	[LikeOn] [datetime] NOT NULL,
 CONSTRAINT [PK_PostLike] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 04-02-2020 3.29.52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[EmailAddress] [varchar](255) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](100) NOT NULL,
	[PasswordSalt] [varchar](50) NOT NULL,
	[DateOfJoining] [datetime] NOT NULL,
	[UserAvatar] [varchar](500) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFollower]    Script Date: 04-02-2020 3.29.52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFollower](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FollowingUserId] [int] NOT NULL,
	[DateOfFollowing] [datetime] NOT NULL,
 CONSTRAINT [PK_UserFollower] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Post] ON 
GO
INSERT [dbo].[Post] ([Id], [UploadByUserId], [ContentLink], [UploadOn]) VALUES (2, 47, N'http://dummyimage.com/1080x1080.jpg/cc0000/ffffff', CAST(N'2019-04-16T18:50:36.000' AS DateTime))
GO
INSERT [dbo].[Post] ([Id], [UploadByUserId], [ContentLink], [UploadOn]) VALUES (3, 2, N'http://dummyimage.com/1080x1080.jpg/ff4444/ffffff', CAST(N'2019-05-08T04:37:23.000' AS DateTime))
GO
INSERT [dbo].[Post] ([Id], [UploadByUserId], [ContentLink], [UploadOn]) VALUES (4, 46, N'http://dummyimage.com/1080x1080.jpg/cc0000/ffffff', CAST(N'2019-09-12T15:25:45.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[PostLike] ON 
GO
INSERT [dbo].[PostLike] ([Id], [PostId], [LikeByUserId], [LikeOn]) VALUES (1, 24, 21, CAST(N'2019-08-16T01:12:05.000' AS DateTime))
GO
INSERT [dbo].[PostLike] ([Id], [PostId], [LikeByUserId], [LikeOn]) VALUES (2, 89, 26, CAST(N'2019-02-17T19:58:08.000' AS DateTime))
GO
INSERT [dbo].[PostLike] ([Id], [PostId], [LikeByUserId], [LikeOn]) VALUES (3, 41, 23, CAST(N'2019-10-05T15:52:15.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PostLike] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 
GO
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [EmailAddress], [Username], [PasswordHash], [PasswordSalt], [DateOfJoining], [UserAvatar]) VALUES (1, N'Hale', N'Levitt', N'hlevitt0@linkedin.com', N'hlevitt0', N'PUWdKBiCA5LmyG9/Qqkq1Q==', N'596fbad6a77a428eb1d093db60ce02e3', CAST(N'2019-12-20T14:20:20.000' AS DateTime), N'https://robohash.org/omniscorruptihic.png?size=400x400&set=set1')
GO
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [EmailAddress], [Username], [PasswordHash], [PasswordSalt], [DateOfJoining], [UserAvatar]) VALUES (2, N'Cullan', N'Havers', N'chavers1@phoca.cz', N'chavers1', N'PUWdKBiCA5LmyG9/Qqkq1Q==', N'596fbad6a77a428eb1d093db60ce02e3', CAST(N'2019-07-20T15:23:15.000' AS DateTime), N'https://robohash.org/aliquamvoluptatumconsequatur.png?size=400x400&set=set1')
GO
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [EmailAddress], [Username], [PasswordHash], [PasswordSalt], [DateOfJoining], [UserAvatar]) VALUES (3, N'Bobbette', N'Hairyes', N'bhairyes2@acquirethisname.com', N'bhairyes2', N'PUWdKBiCA5LmyG9/Qqkq1Q==', N'596fbad6a77a428eb1d093db60ce02e3', CAST(N'2019-08-20T02:55:09.000' AS DateTime), N'https://robohash.org/inciduntexcepturirerum.png?size=400x400&set=set1')
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[UserFollower] ON 
GO
INSERT [dbo].[UserFollower] ([Id], [UserId], [FollowingUserId], [DateOfFollowing]) VALUES (2, 52, 26, CAST(N'2020-01-27T05:57:14.210' AS DateTime))
GO
INSERT [dbo].[UserFollower] ([Id], [UserId], [FollowingUserId], [DateOfFollowing]) VALUES (8, 51, 26, CAST(N'2020-01-28T07:07:23.647' AS DateTime))
GO
INSERT [dbo].[UserFollower] ([Id], [UserId], [FollowingUserId], [DateOfFollowing]) VALUES (15, 42, 51, CAST(N'2020-01-28T12:56:29.733' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[UserFollower] OFF
GO
ALTER TABLE [dbo].[CommentLike]  WITH CHECK ADD  CONSTRAINT [FK_CommentLike_PostComment_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[PostComment] ([Id])
GO
ALTER TABLE [dbo].[CommentLike] CHECK CONSTRAINT [FK_CommentLike_PostComment_CommentId]
GO
ALTER TABLE [dbo].[CommentLike]  WITH CHECK ADD  CONSTRAINT [FK_CommentLike_User_LikeByUserId] FOREIGN KEY([LikeByUserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[CommentLike] CHECK CONSTRAINT [FK_CommentLike_User_LikeByUserId]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_User_UploadByUserId] FOREIGN KEY([UploadByUserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_User_UploadByUserId]
GO
ALTER TABLE [dbo].[PostComment]  WITH CHECK ADD  CONSTRAINT [FK_PostComment_Post_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostComment] CHECK CONSTRAINT [FK_PostComment_Post_PostId]
GO
ALTER TABLE [dbo].[PostComment]  WITH CHECK ADD  CONSTRAINT [FK_PostComment_User_CommentedByUserId] FOREIGN KEY([CommentedByUserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[PostComment] CHECK CONSTRAINT [FK_PostComment_User_CommentedByUserId]
GO
ALTER TABLE [dbo].[PostLike]  WITH CHECK ADD  CONSTRAINT [FK_PostLike_Post_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostLike] CHECK CONSTRAINT [FK_PostLike_Post_PostId]
GO
ALTER TABLE [dbo].[PostLike]  WITH CHECK ADD  CONSTRAINT [FK_PostLike_User_LikeByUserId] FOREIGN KEY([LikeByUserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostLike] CHECK CONSTRAINT [FK_PostLike_User_LikeByUserId]
GO
ALTER TABLE [dbo].[UserFollower]  WITH CHECK ADD  CONSTRAINT [FK_UserFollower_User_FollowingUserId] FOREIGN KEY([FollowingUserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserFollower] CHECK CONSTRAINT [FK_UserFollower_User_FollowingUserId]
GO
ALTER TABLE [dbo].[UserFollower]  WITH CHECK ADD  CONSTRAINT [FK_UserFollower_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFollower] CHECK CONSTRAINT [FK_UserFollower_User_UserId]
GO
USE [master]
GO
